body {
    font-family: Arial, sans-serif;
/*     background-color: #000; */
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border:  none;
}

table.list th, table.list td, table.list tr {
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-align: left;
}

th, td {
    padding: 8px 12px;
    border: none;
    text-align: left;
}


a {
    margin-right: 10px
    color:  #fff;


